@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
.wrapper video {
  width: 100%;
}
.wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper svg text {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 15px;
}
.wrapper svg > rect {
  -webkit-mask: url(#mask);
  mask: url(#mask);
}
.wrapper svg rect {
  fill: #fff;
}

body {
  margin: 60px 50px 0;
}

.wrapper:before, .wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  background-color: #fff;
}
.wrapper:before {
  left: -9px;
}
.wrapper:after {
  right: -5px;
}

main {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  margin: 50px;
}

.carte--Australie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-area: 1/1/2/3;
  background-color: #545675;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.carte--Etats-unies {
  grid-area: 1/3/2/5;
  background-color: #545675;
  color: white;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.carte--Nouvelle-Zélande {
  grid-area: 1/5/2/7;
  background-color: #545675;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.carte--Espagne {
  grid-area: 1/7/2/9;
  background-color: #545675;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: white;
}

.carte--Portugal {
  grid-area: 1/9/2/11;
  background-color: #545675;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: white;
}

.carte--Madagascar {
  grid-area: 2/1/3/3;
  background-color: #545675;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.carte--Grèce {
  grid-area: 2/3/3/5;
  background-color: #545675;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.carte--Perou {
  grid-area: 2/5/3/7;
  background-color: #545675;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.carte--Laos {
  grid-area: 2/7/3/9;
  background-color: #545675;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: white;
}

.carte--Philippines {
  grid-area: 2/9/3/11;
  background-color: #545675;
  font-family: "Roboto", sans-serif;
  padding: 10px;
  color: white;
}

h1 {
  font-weight: 700;
  font-size: 18px;
  margin: 5px;
}

p {
  font-weight: 100;
  font-size: 14px;
  margin: 5px;
}

h2 {
  font-weight: 400;
  font-size: 16px;
  margin: 5px;
}

.carte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 1;
  transition: opacity 1s ease 0s;
  transition: transform 0.2s;
  border-radius: 30px;
}
.carte:hover {
  opacity: 0.75;
  transform: scale(1.1);
  box-shadow: -10px 10px 26px 1px rgba(0, 0, 0, 0.43);
}
.carte__img {
  border-radius: 50% 50% 50% 50%;
  width: 50%;
  align-self: center;
  margin: 30px;
  border: solid white 3px;
}
.carte__img:hover {
  opacity: 1;
  transform: scale(2);
  box-shadow: -10px 10px 26px 1px rgba(0, 0, 0, 0.43);
}
.carte__pays {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}
.carte__climat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carte__continent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carte__capital {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carte__population {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carte__monnaie {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.carte button {
  text-align: center;
  opacity: 30%;
  align-self: center;
  border-radius: 50% 50% 50% 50%;
  border: none;
  transition: transform 0.2s;
}
.carte button:hover {
  transform: scale(1.3);
}

@media only screen and (min-width: 550px) and (max-width: 1225px) {
  body {
    margin: 25px;
    width: 90%;
  }
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  .carte--Australie {
    grid-area: 1/1/3/2;
    width: 85%;
  }
  .carte--Etats-unies {
    grid-area: 1/2/3/3;
    width: 85%;
  }
  .carte--Nouvelle-Zélande {
    grid-area: 3/1/5/2;
    width: 85%;
  }
  .carte--Espagne {
    grid-area: 3/2/5/3;
    width: 85%;
  }
  .carte--Portugal {
    grid-area: 5/1/7/2;
    width: 85%;
  }
  .carte--Madagascar {
    width: 85%;
    grid-area: 5/2/7/3;
  }
  .carte--Grèce {
    grid-area: 7/1/9/2;
    width: 85%;
  }
  .carte--Perou {
    grid-area: 7/2/9/3;
    width: 85%;
  }
  .carte--Laos {
    grid-area: 9/1/11/2;
    width: 85%;
  }
  .carte--Philippines {
    grid-area: 9/2/11/3;
    width: 85%;
  }
}
@media (max-width: 550px) {
  header h1 {
    font-size: 85px;
  }
  main {
    display: flex;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */